<div>
  <h2>CONNEXION</h2>
  <form [formGroup]="userLoginForm">
    <label for="mailAddress">mailAddress</label>
    <br />
    <br />
    <input type="text" id="mailInput" formControlName="mailAddress" />
    <br />
    <br />
    <label for="password">Mot de passe</label>
    <br />
    <br />
    <input type="password" id="passwordInput" formControlName="password" />
    <br />
    <br />
    <button type="submit" (click)="onSubmitLoginForm()">Connexion</button>
    <br />
    <br />
    <a routerLink="/lostpassword"> Mot de passe perdu </a>
    <br />
    <br />
    <label for="inscription">Ou bien</label>
    <br />
    <br />
    <button type="button" (click)="goToInscription()">Inscrivez vous!</button>
    <!-- <button type="button" (click)="requestResetPassword()">
      Mot de passe perdu
    </button> -->
  </form>
</div>
