
@import "../../styles/configs/variables";
@import "../../styles/configs/_mixins.scss";

form{
    padding: 15px;
}
*{
    background-color: $whiteTextColor;
}


.back{
    display:flex;
    height:100vh;
    position: absolute;
    width: 97vw;
    background-color:$darkThemeColor;
    @include media-min(desktop-up){
        width:100%
    }

    .loginFormContent{
        margin-top: 30vh;
        width: 86vw;
        margin-left: 5.5vw;
        height: 10%;
        @include media-min(desktop-up){
            margin:20% 25% 0 25%;
            width:50%;
            height:10%;
        }
    
        .container{
            display:flex;
            flex-direction: column;
        
        }
    }
}

