
@import "../../styles/configs/variables";
@import "../../styles/configs/_mixins.scss";

form{
    padding: 15px;
}
*{
    background-color: $whiteTextColor;
}
.loginFormContent{
    margin-top: 30vh;
    width: 86vw;
    margin-left: 5.5vw;
    height: 44vh;
}

.back{
    display:flex;
    height:100vh;
    position: absolute;
    width: 97vw;
    background-color:$darkThemeColor;
}


.container{
    display:flex;
    flex-direction: column;
}