@import "../../styles/configs/_variables.scss";
@import "../../styles/configs/_mixins.scss";
@font-face {
    font-family: 'Rubik_Puddles';
    font-display: block;
    src: url('./../../assets/fonts/Rubik_Puddles/RubikPuddles-Regular.ttf') format('truetype');
  }
//   *{border:1px solid black}
header{
    border-bottom: 1px solid black;
    position: fixed;
    width: 100vw;
    height: $headerHeight;
    z-index: 3;
    background-color: $darkThemeColor;
    // background-color: rgb(213, 230, 66);
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    // color: #e1e5ee;
    @include media-min(desktop-up){
        flex-direction: column;
        height:20vh;
        justify-content: center;
    }
    
    
    
    .titleContainer{
        flex-basis: 100%;
        text-align: center;
        
        @include media-min(desktop-up){
            display: flex;
            width: 80%;
        // align-items: center;
        // margin:0;
    }
    
    h1{
        margin-bottom:0;
        margin-top: 5px;
        font-family: Rubik_Puddles;
        display: inline-block;
        font-size: 4em;
        font-weight: 600;
        color: $whiteTextColor;
        
        @include media-min(desktop-up){
            // display: inline-block;
            font-size: 6em;
            margin-bottom:4px;
            align-self: center;
        }
    }
    
    
    h2{
        
        color: $whiteTextColor;
        
        display: none;
        @include media-min(desktop-up){
            display: block;
            align-self: flex-end;
            margin-left: 100px;
        }

    }


}
   
}




