<header>
  <!-- <div class="banner"> -->
  <!-- <img src="/images/concert.jpeg" alt="banniere" /> -->
  <!-- <img src="../../assets/images/banner.jpg" alt="banner" /> -->
  <!-- <div class="title">
    <h1>BuddyZik</h1>
  </div> -->

  <div class="titleContainer">
    <h1 class="title">BuddyZik</h1>
  </div>
  <app-nav></app-nav>
  <!-- </div> -->
  <!-- <h1><a routerLink="" (click)="goToMyProfile()">BuddyZik</a></h1> -->

  <!-- <button *ngIf="logoutButton" (click)="logoutRequest()">Deconnexion</button> -->
</header>
