@import "../../styles/configs/_mixins.scss";
@import "../../styles/configs/_variables.scss";

img {
    width: 200px;
}



.form-card{
    background-color: aliceblue;
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:86vw;
    margin-left: 5.5vw;

  
    @include media-min (tablet-down){
        width:69vw;

    }


    .editFormContent{
        margin-top: 10vh;

width:100vw;

display: flex;

flex-direction: column;

align-items: center;
text-align: center;

@include media-min(desktop-up){

}
@include media-min (tablet-down){
   
    margin-top: 22vh;
}
@include media-max(tablet-down){
           
            margin-top: 23vh;
        
            }
            
            @include media-max(phone-down){
               
                margin-top:12vh;
            }
        
     
        .container{
            display:flex;
            flex-direction: column;



            .radioModule{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 5px;
                margin-bottom: 10px;

            }
        }
   
       
    }
}