<!-- <app-header></app-header> -->
<div class="form-card">
  <h2 *ngIf="displayCreationMode">CREATION DU PROFIL</h2>
  <h2 *ngIf="!displayCreationMode">EDITION DU PROFIL</h2>
  <form [formGroup]="userProfileForm">
    <label for="login">Pseudo</label>
    <input type="text" id="loginInput" formControlName="login" />
    <br />
    <br />
    <label *ngIf="displayCreationMode" for="password">Mot de passe</label>
    <input
      *ngIf="displayCreationMode"
      type="text"
      id="passwordInput"
      formControlName="password"
    />
    <label *ngIf="!displayCreationMode" for="passwordModif"
      >Mot de passe Modif</label
    >
    <input
      *ngIf="!displayCreationMode"
      type="text"
      id="passwordModifInput"
      formControlName="passwordModif"
    />
    <br />
    <br />
    <label for="mailAddress">Adresse mail</label>
    <input type="text" id="mailAddressInput" formControlName="mailAddress" />
    <br />
    <br />
    <label for="firstName">Prénom</label>
    <input type="text" id="firstNameInput" formControlName="firstName" />
    <br />
    <br />
    <label for="lastName">Nom</label>
    <input type="text" id="lastNameInput" formControlName="lastName" />
    <br />
    <br />
    <label for="birthDate">Date de naissance</label>
    <input type="date" id="birthDateInput" formControlName="birthDate" /><br />
    <br />
    <label for="location">Ville</label>
    <input type="text" id="locationInput" formControlName="location" />
    <br />

    <div *ngIf="displayCreationMode">
      <p>Photo de profil:</p>
      <input
        type="file"
        formControlName="profilePicture"
        (change)="selectFile($event)"
      />
      <img [src]="previewProfilePic" alt="" />

      <p>Photo de bannière:</p>

      <input type="file" formControlName="bannerPicture" />
      <br />
    </div>
    <p>Genre:</p>
    <input
      id="genderMaleInput"
      type="radio"
      name="gender"
      formControlName="gender"
      value="Homme"
      checked
    />
    <label for="genderMale">Homme</label>
    <input
      id="genderFemaleInput"
      type="radio"
      name="gender"
      formControlName="gender"
      value="Femme"
    />
    <label for="genderFemale">Femme</label>
    <input
      id="genderOtherInput"
      type="radio"
      name="gender"
      formControlName="gender"
      value="Autre"
    />
    <label for="genderOther">Autre</label>

    <br />
    <br />
    <p>Dis nous en plus....</p>

    <label for="instrument">Instrument de prédilection :</label>
    <select formControlName="instrument" id="instrumentSelect">
      <option value="">Choix...</option>
      <option *ngFor="let instrument of instrumentsList" [value]="instrument">
        {{ instrument }}
      </option>
    </select>
    <p>Tu chantes?</p>
    <input
      id="singerYesInput"
      type="radio"
      name="singer"
      formControlName="singer"
      value="yes"
    />
    <label for="singerYes">Oui!</label>
    <input
      id="singerNoInput"
      type="radio"
      name="singer"
      formControlName="singer"
      value="no"
    />
    <label for="singerNo">Non</label>

    <!-- <input
      id="singerMaybeInput"
      type="radio"
      name="singer"
      formControlName="singer"
      value="Maybe"
    />
    <label for="singerMaybe">Si il le faut</label> -->
    <br />
    <br />
    <p>Tu es un pro?</p>
    <input
      id="proYesInput"
      type="radio"
      name="pro"
      formControlName="pro"
      value="yes"
    />
    <label for="proYes">Oui</label>
    <input
      id="proNoInput"
      type="radio"
      name="pro"
      formControlName="pro"
      value="no"
    />
    <label for="proNo">Non</label>

    <br />
    <br />
    <p>
      Un petit mot sur ce que tu recherches ou proposes et qui sera affiché sur
      ton profil?
    </p>
    <textarea
      name="bio"
      id="bioInput"
      formControlName="bio"
      cols="30"
      rows="10"
    ></textarea>
    <br />
    <br />
    <input
      *ngIf="displayCreationMode"
      type="submit"
      (click)="onSubmitProfileForm()"
      value="Inscription !"
    />
    <input
      *ngIf="!displayCreationMode"
      type="submit"
      (click)="onSubmitModifProfileForm()"
      value="Enregistrer les modifications"
    />
  </form>
</div>
