img {
    width: 200px;
}
.editFormContent{
    margin-top: 10vh;
    // display: flex;
    // height: 100%;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    width: 86vw;
    margin-left: 5.5vw;
    
    // height: 44vh;
   
}

*{background-color: aliceblue;}