<div class="modal">
  <form [formGroup]="postForm">
    <!-- <label for="title">Titre:</label>
    <input type="text" id="titleInput" formControlName="title" />
    <br /> -->
    <label for="post"><h2>Nouveau Post:</h2></label>
    <img [src]="previewPostPic" alt="" />
    <textarea
      name="post"
      id="postInput"
      formControlName="post"
      cols="30"
      rows="10"
    ></textarea>

    <div class="action">
      <input
        type="file"
        formControlName="postPic"
        (change)="selectFile($event)"
      />
      <input
        class="button"
        type="submit"
        (click)="onSubmitPostForm()"
        value="POSTER"
      />
      <button class="button" type="button" (click)="onCancelPost()">
        ANNULER
      </button>
    </div>
  </form>
  <!-- <button>POSTER</button> -->
</div>
