@import "../../styles/configs/_mixins.scss";
@import "../../styles/configs/_variables.scss";
*{
    // margin:0;
    // padding:0;
    // border:1px solid black;
    // border: 1px solid black;
}

.modal{
    // top:10%;
    border: 1px solid black;
    // padding: 20px;
    position: fixed;
    // display:flex;
    // flex-direction: column;
    // width:$widthDisplayZone;
    margin-left: 0.9vw;
    // margin-right: 1.5vw;
    width: 95vw;
    // margin-top:0;
    // margin-left: auto;
    background-color: $whiteTextColor;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    border-radius: 10px;
    z-index: 8;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;



.contentModalPost{

padding-top:5px;
padding-bottom:10px;
padding-left: 1.5vw;
width: 93vw;

    display: flex;
flex-direction: column;
@include media-min(desktop-up){
    width:40%;
    margin-left:50%;
}


    .fileInput{
        visibility: hidden;
    }

    .previewContainer{
        // text-align: center;
        img{    
            border: 1px solid black;
            max-height: 300px;
            max-width: 90.7vw;
        }            
    }

    h2{
        margin: 0;
    }

    form{
        // margin-left: 10px;
        // margin-right: 11px;
        width:100%;
        label {
            display: block;
        }
        input  {
            display: block;
            // width:100%
        }
        textarea{
            // margin-left:2.5vw;
            margin-right:1vw;
            width:90vw;
            resize: none;
        }

        .action{
            display: flex;
            // margin-top: 10px;
            justify-content: flex-start;

        .button{
            // margin-right:7px;
            // margin-top:5px;
            height:fit-content;
            }
        }
    }
}
}