<div class="modal">
  <form [formGroup]="postForm">
    <label for="post"><h2>Nouveau Post:</h2></label>
    <div class="previewContainer">
      <img *ngIf="previewPostPic" [src]="previewPostPic" alt="" />
    </div>
    <textarea
      name="post"
      id="postInput"
      formControlName="post"
      cols="30"
      rows="10"
    ></textarea>

    <div class="action">
      <input
        type="file"
        formControlName="postPic"
        (change)="selectFile($event)"
      />
      <input
        class="button"
        type="submit"
        (click)="onSubmitPostForm()"
        value="POSTER"
      />
      <button class="button" type="button" (click)="onCancelPost()">
        ANNULER
      </button>
    </div>
  </form>
</div>
