
@import "../../styles/configs/_mixins.scss";
@import "../../styles/configs/_variables.scss";
// .visible {
 
// }


nav{
    display: flex;
    .standardmenu{
        display:none;
        margin-bottom: 10px;
        @include media-min(desktop-up){
            position: absolute;
            display: block;
            top:20vh;
        }
     }   
    
    .burgermenu{
        margin-right: 15px;
        flex-basis: 20%;
        .mat-icon{
            font-size: 40px;
            color: #e1e5ee;
        }
        display: block;
        @include media-min(desktop-up){
            display: none;
        }
    }

    margin-bottom: 0;

}

.hidden{
    display : none;
}
