<nav [className]="displayNav ? 'visible' : 'hidden'">
  <div class="burgermenu">
    <button
      class="iconMenu"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="goToMyBuddysList()">
        <span>Mes Buddys</span>
      </button>
      <button mat-menu-item (click)="goToAllBuddysList()">
        <span>Recherche de Buddys</span>
      </button>
      <button mat-menu-item (click)="goToEditProfile()">
        <span>Mes infos</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <span>Deconnexion</span>
      </button>
    </mat-menu>
  </div>
</nav>
