
@import "../../styles/configs/_mixins.scss";
@import "../../styles/configs/_variables.scss";

nav{
    display: flex;
    margin-bottom: 0;
    .burgermenu{
        margin-right: 15px;
        flex-basis: 20%;
        display: block;
        .mat-icon{
            font-size: 40px;
            color: $whiteTextColor;
        }
    }
}

.displayNav{
    background-color: red;
}

.hidden{
    display : none;
}
