<mat-card class="example-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image" ></div> -->
    <img mat-card-avatar [src]="avatarPicture" alt="" />
    <mat-card-title>{{ post.authorName }}</mat-card-title>
    <mat-card-subtitle>{{ post.date }}</mat-card-subtitle>
  </mat-card-header>
  <div class="postPictureContainer">
    <img mat-card-image [src]="postPicture" alt="" />
  </div>

  <mat-card-content>
    <p>
      {{ post.content }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
