@import "../../styles/configs/_mixins.scss";
@import "../../styles/configs/_variables.scss";

.example-card {
    
    width: 86vw;
    margin-bottom: 20px;
    @include media-min(desktop-up){
 width:30vw;
   }
  }
 
.postPictureContainer{
    border: 1px solid gray;
    text-align: center;    
    width:100%;
    margin-bottom: 7px;
    img{    
      display: block;
      margin:auto;
      max-height: 500px;
      max-width: 100%;

      @include media-min (tablet-down){max-width: 100%;
        max-height: 1000px;}
      

      @include media-min (desktop-up){max-width: 100%;
        max-height: 1000px;}
      height: auto;
      width: auto;
    }            
}