.example-card {
    max-width: 400px;
  }
 
.postPictureContainer{
    text-align: center;    
    width:100%;
    margin-bottom: 7px;
    img{    
    display: block;
    margin:auto;
    max-height: 500px;
    max-width: 400px;
    height: auto;
    width: auto;
    }            
}