@import "../styles/configs/_mixins.scss";
@import "../styles/configs/_variables.scss";

*{
    display: flex;
}
.content{
    width:97vw;
    background-color: #333333 ;
    margin-top: 100px;
    // position: relative;
    margin-left: auto;
    margin-right: auto;


@include media-min(desktop-up){
    margin-top: 200px;
    width:80%;
}

}

