<div class="profileContent">
  <app-modal-post
    class="modalPost"
    *ngIf="displayModalPost"
    (cancelPost)="onCancellingPost($event)"
    [postRecipient]="buddy.uuid"
  ></app-modal-post>

  <app-validation-modal
    *ngIf="displayValidationModalPost"
    (validation)="onCloseValidationModalPost($event)"
  ></app-validation-modal>

  <div id="profile" *ngIf="buddy">
    <div id="idCard">
      <div class="buddyId">
        <div class="profilePicContainer">
          <img [src]="buddy.profilePicture" alt="" />
        </div>
        <p>{{ buddy.firstName }} {{ buddy.lastName }}</p>
        <button mat-raised-button (click)="onPostRequest()">POST</button>
      </div>

      <div class="buddyMusicPhone">
        <p>{{ buddy.instrument }}</p>
        <p>{{ buddy.style }}</p>
        <p *ngIf="buddy.pro">Pro</p>
        <p *ngIf="!buddy.pro">Amateur</p>
        <p *ngIf="!buddy.singer">Ne chante pas</p>
        <p *ngIf="buddy.singer">Chante</p>
        <p *ngIf="buddy.group">Groupe :{{ buddy.group }} /</p>
      </div>
      <div class="buddyMusicDesktop">
        <p><strong>Instru :</strong> {{ buddy.instrument }}</p>
        <p><strong>Style :</strong> {{ buddy.style }}</p>
        <!-- <p *ngIf="buddy.group">Style : {{ buddy.style }}</p> -->
        <p *ngIf="buddy.group"><strong>Groupe :</strong> {{ buddy.group }}</p>
        <p *ngIf="!buddy.group"><strong>Groupe :</strong> Aucun</p>
        <p *ngIf="buddy.pro">Professionnel</p>
        <p *ngIf="!buddy.pro">Amateur - Loisir</p>
        <p *ngIf="!buddy.singer">Ne chante pas</p>
        <p *ngIf="buddy.singer">Chante</p>
      </div>

      <div class="buddyBio">
        <p><strong>Son petit mot :</strong> {{ buddy.bio }}</p>
        <!-- <p *ngIf="buddy.bio != null">{{ buddy.bio }}</p> -->
      </div>
    </div>

    <!-- <div id="postsList" (updatePosts)="onUpdatePosts($event)"> -->
    <div class="postsList">
      <app-post-card
        *ngFor="let post of allPosts"
        [post]="post"
      ></app-post-card>
    </div>
  </div>
</div>
