@import "../../styles/configs/variables";
@import "../../styles/configs/_mixins.scss";


// *{border:1px solid white;}

.profileContent{
    // background-color:aqua;
    display: flex;
    margin-top: 100px;
    width:95%;
    
// margin-left: auto;
// margin-right: auto;

    @include media-min(desktop-up){
        width:50vw;
        margin-top: 200px;
    }


}
#profile{
  //display: flex;
  
//   width:90vw;
//   margin: auto;
//   margin-top: 15px;
//   height: 100vh;


    @include media-min(desktop-up){
        width:50vw;
    }
    #idCard{
        
        color: $whiteTextColor;
        // padding:15px;
        display: flex;
        flex-direction: column;
        // width:100vh;
        // position: fixed;
        
        width: 100%;
        // flex-wrap: wrap;
        // justify-content: center;
        
        .buddyId{
            width:100%;
            // flex-basis: %;
            display:flex;
            align-items: center;
            position: fixed;
            // position: absolute;
            // top:0;
            ;
            z-index: 3;
            background-color: black;
        
            p{
                font-size: 2em;
                // color:#333333;
                font-weight: 700;
                
                @include media-min(desktop-up){
                    font-size: 5em;
                    font-weight: 700;
                }
            }
        }
        .buddyMusic{
            flex-basis: 100%;
        }

        
    .profilePicContainer{
        // flex-basis: 50%;
        // position: fixed;
        // z-index: 3
        // ;
        
        img{
            width:20vw;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            //margin: auto;
}
        }
    }
}
// img{
//     display: block;
// }
// #bannierPic{
//     /* position: absolute; */
//     // z-index: 1;
//     // width: 100%;
//     // margin-left: 0;
//     /* height:100%; */
//     // border:2px solid white
// }



// .imgCardContainer{
//     // flex-basis: 30%;
//     /* position: absolute; */
//     // z-index: 2;
//     /* top:36%; */
//     // margin-left: 5%;
// // margin-top: -5%;
//     /* width: 20%; */
//     /* height: 20%; */
//     // border-radius: 50%;
//     // -webkit-border-radius: 50%;
//     // -moz-border-radius: 50%;
//     // -ms-border-radius: 50%;
//     // -o-border-radius: 50%;
//     // border:2px solid white
// }
// #profilePseudo {
//     // font-size: 3em;
//     // color: $titleColor;
//     // font-weight: 800;
//     // margin:20px
// }

