@import "../../styles/configs/variables";
@import "../../styles/configs/_mixins.scss";




.profileContent{
    
    display: flex;
    margin-top: calc($headerHeight + 1vh);
    width:95vw;
    



    @include media-min(desktop-up){
        width:80vw;
        margin-top: 22vh;
    }
    @include media-min(tablet-down){
        
        margin-top: 22vh;
        }
        @include media-max(tablet-down){
            
            
            margin-top: 24vh;
            
    
        }
        @include media-max(phone-down){
            
            
            margin-top:12vh;
            
    
        }

#profile{



    @include media-min(desktop-up){
        width:50vw;
    }
    #idCard{
        
        color: $whiteTextColor;
     
        display: flex;
        flex-direction: column;
     
        
        width: 100%;
       
        @include media-min(desktop-up){
       
            width:79vw;
            }
        
        .buddyId{
            color:$whiteTextColor;
            width:$widthDisplayZone;
      
            display:flex;
          
            justify-content: space-between;
            align-items: center;
     
            background-color: $darkThemeColor;
            padding:0 0 5px 0px;


            @include media-min(desktop-up){
          
                width: 78vw;
                }

           

            .profilePicContainer{
           
                
                margin: 0 0 0 10px;
                img{
                    display: inline-block;
                    width:20vw;
                    
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;

                    @include media-max(tablet-down){
                       
                        width:16vh;
                       
                
                    }
                    @include media-min(tablet-down){
                        
                        width:13vh;
                    }
                    @include media-min(desktop-up){
                    width: 20vh
                    }

                }
                }
        
        
            p{
                font-size: 1.7em;
                font-weight: 700;
                margin-left:4vw;
                @include media-min(tablet-down){
                    
                    font-size: 3em;
                    }
                @include media-min(tablet-up){
                    margin-left:4vw;
                    font-size: 2em;
                    
                    }
                
                @include media-min(desktop-up){
                    font-size: 3em;
                    font-weight: 700;
                    margin-left:-4vw;
                }
            }
        
        
            button{
                margin-right: 10px;
            }
        }


        .buddyMusicPhone{
            display: flex;
            font-weight: 500;
            justify-content: space-around;
            @include media-min(desktop-up){
                display: none;
            }
        }
        .buddyMusicDesktop{
          
            
            display: none;
            
         
            @include media-min(desktop-up){
                display: flex;
              
                font-weight: 500;
                justify-content: space-evenly;
            }
        }

        .buddyBio{
            
            
            p{
                margin-right:5vw;
                margin-left: 5vw;
                color:$whiteTextColor;
          

                @include media-min(tablet-down){
                  
                    margin-top:3vh;
                    margin-bottom: 7vh;
                    }
                    @include media-min(desktop-up){
                        margin-top:3vh;
                        margin-left: 2vw;
                     
                     }
            }
        
        }



        
 
    }
}


.postsList{
display: flex;
flex-direction: column;
align-items: center;
@include media-min(desktop-up){
    margin-top:3vh;
    width: 79vw;

 }

}



}