<div class="resetPasswordContent">
  <h2>MOT DE PASSE PERDU</h2>
  <form [formGroup]="resetPasswordForm">
    <label for="mailAddress"
      >Renseignez l'adresse mail associée à votre compte BuddyZik, nous allons
      vous envoyer un mail contenant un lien à suivre pour réinitialiser votre
      mot de passe.</label
    >

    <mat-form-field appearance="fill">
      <mat-label>email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        [formControl]="mailAddress"
        required
      />
      <mat-error *ngIf="mailAddress.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit" (click)="onSubmitResetForm()">
      Réinitialiser
    </button>
  </form>
</div>
