
@import "../../styles/configs/variables";
@import "../../styles/configs/_mixins.scss";


.myBuddiesContent{
    display: flex;
    width:97vw;
    background-color:$darkThemeColor;
    margin-top: $headerHeight;
    flex-direction: column;
    @include media-min(desktop-up){
        margin-top: 20vh;
        width:78vw;
        
    }
    
    .myBuddiesTitle{
        text-align: center;
        background-color: $darkThemeColor;
        color:$whiteTextColor;
        width: 97vw;
        line-height:$heightTitlePage;
        
        z-index: 2;
        display: flex;
        align-items: center;
        flex-direction: row;
        @include media-min(tablet-down){
            
            margin-top: 12vh;
        }
        @include media-min(desktop-up){
            
            position:fixed;
            margin-top: 0vh;
            width:79vw;
            }
                @include media-max(tablet-down){
                    
                    
                    margin-top: 13vh;
                    
            
                }
                @include media-max(phone-down){
                    
                    
                    margin-top:1.5vh;
                    
            
                }
        .profilePicContainer{
            flex-basis: 10%;
            display: flex;
            justify-self: flex-start;
            align-items: center;
            margin: 0 0 0 10px;

            img{
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                display: inline-block; 
                width:9vw;
                @include media-min(desktop-up){
                    margin-top:1vh;
                    
                    width:10vh;
                    }
        }
    }


    .pageTitle{

        flex-basis: 100%;
        p{    
            font-size: 1.8em;
            margin-top:1vh;
        }
    }
    }
    
    .buddyList{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: calc($heightTitlePage + 3vh) ;

        @include media-min(desktop-up){
            margin-top:12vh;
            width:79vw;
     
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: stretch;
            
   
         
         }
      
    
          
                @include media-max(tablet-down){
                   
                    margin-top: 0;
                    
            
                }
                
                @include media-max(phone-down){
                  
                    margin-top:0;
               
                }
    }
}