
@import "../../styles/configs/variables";
@import "../../styles/configs/_mixins.scss";


.myBuddiesContent{
    display: flex;
    width:97vw;
    background-color:$darkThemeColor;
    margin-top: $headerHeight;
    flex-direction: column;
    @include media-min(desktop-up){
        margin-top: 20vh;
        width:78vw;
        // padding-top: 2vh;
    }
    
    .myBuddiesTitle{
        text-align: center;
        background-color: $darkThemeColor;
        color:$whiteTextColor;
        width: 97vw;
        line-height:$heightTitlePage;
        // position: fixed;
        z-index: 2;
        display: flex;
        align-items: center;
        flex-direction: row;
        @include media-min(desktop-up){
            // position: fixed;
            width:79vw;
            }
            @include media-min(tablet-down){
                // position: fixed;
                margin-top: 12vh;
                }
                @include media-max(tablet-down){
                    // flex-direction: row;
                    // width:100%;
                    margin-top: 13vh;
                    // justify-content: center;
            
                }
                @include media-max(phone-down){
                    // flex-direction: row;
                    // width:100%;
                    margin-top:1.5vh;
                    // justify-content: center;
            
                }
        .profilePicContainer{
            flex-basis: 10%;
            display: flex;
            justify-self: flex-start;
            align-items: center;
            margin: 0 0 0 10px;

            img{
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                display: inline-block; 
                width:9vw;
                @include media-min(desktop-up){
                    margin-top:1vh;
                    // padding:0;
                    width:10vh;
                    }
        }
    }


    .pageTitle{

        flex-basis: 100%;
        p{    
            font-size: 1.8em;
            margin-top:1vh;
        }
    }
    }
    
    .buddyList{
        display: flex;
        flex-direction: column;
        align-items: center;
        // flex-wrap: wrap;
        // justify-content: space-around;
        // width: 70%;
        margin-top: calc($heightTitlePage + 3vh) ;

        @include media-min(desktop-up){
            margin-top:12vh;
            width:79vw;
            // display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: stretch;
            
   
         
         }
      
    
            @include media-min(tablet-down){
                // position: fixed;
                // margin-top: 12vh;
                }
                @include media-max(tablet-down){
                    // flex-direction: row;
                    // width:100%;
                    margin-top: 0;
                    // justify-content: center;
            
                }
                
                @include media-max(phone-down){
                    // flex-direction: row;
                    // width:100%;
                    margin-top:0;
                    // justify-content: center;
                }
    }
}