// $titleColor:#FE7F2D;
// $titleColor:green;
$darkThemeColor:#333333;
$heightTitlePage: 3vh;

// $darkThemeColor:#e01818;
$headerHeight:10vh;
$whiteTextColor: #e1e5ee;
$widthDisplayZone:97vw;
$breakpoints: (
    "phone-down": 500px,
    "tablet-up": 768px,
    "tablet-down": 900px,
    "desktop-up": 1024px,
    "desktop-down": 1280px,
    "widescreen-up": 1440px
);
